.page-header {
  margin-top: 40px;
}

.search-form {
  margin-top: 40px;
  margin-bottom: 40px;
}

.spinner {
  display: none;
  border: 6px solid grey;
  border-radius: 50%;
  border-left-color: #09f;
  width: 80px;
  height: 80px;
  margin-left: 50%;
  animation: spinner 1s ease-in-out infinite;
}

@keyframes spinner {
  0%{
    transform: rotate(0deg);
  }100%{
    transform: rotate(360deg);
  }
}

.book {
  opacity: 0;
  animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  } 100% {
    opacity: 1;
  }
}